/* <link href="https://fonts.googleapis.com/css?family=Rakkas&display=swap" rel="stylesheet"></link> */
.rakkas {
    font-family: 'Rakkas', cursive;
}

/* <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet"></link> */
.tajawal {
    font-family: 'Tajawal', sans-serif;
}

/* <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet"></link> */
.amiri {
    font-family: 'Amiri', serif;
}

/* <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap" rel="stylesheet"></link> */
.aref {
    font-family: 'Aref Ruqaa', serif;
}