main {
    direction: rtl;
    width: 90%;
    text-align: right;
    text-indent: 40px;
    line-height: 45px;
    font-size: 16.0pt;
    margin-left: 5%;
    margin-right: 5%;
}

p {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(6, 167, 6);
}

h1 {
    margin-bottom: 60px;
    text-align: center;
    color: rgb(0, 85, 146);
    text-indent: 0;
}

ul {
    text-indent: 20px;
}

b {
    display: block;
    color: #AA0A00;
}

footer {
    background-color: #323232;
    color: #ffffff;
    text-indent: 0;
    text-align: center;
}

.inline {
    display: inline;
}

hr {
    background-color: #000;
}

.red {
    color: rgb(207, 18, 18);
}

.blue {
    color: rgb(18, 81, 207);
}

sup {
    font-size: 13px;
}

.next-prev {
    position: relative;
    height: 50px;
}

.next,
.prev {
    background-color: #ddd;
    padding: 0 10px;
    width: 82px;
    color: #000;
    position: absolute;
    transition: .5s;
    box-shadow: #a9a8a8 3px 2px inset;
}

.next:hover,
.prev:hover {
    background-color: #2d2c2c;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px 0;
    transition: .5s;
    box-shadow: #a9a8a8 3px 2px;
}

.prev:hover {
    border-radius: 0 10px;
}

.next {
    border-radius: 0 10px;
    right: 0;
    text-align: right;
}

.prev {
    border-radius: 10px 0;
    left: 0;
    text-align: left;
}

.top {
    background-color: #323232;
    width: 10px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    padding: 0px 10px;
    position: sticky;
    top: 83%;
    content: "\f077";
    z-index: 5;
    transition: .375s;
    outline: #323232 1px solid;
}

strong {
    position: relative;
    top: 4px;
    left: 1.5px;
    font-size: larger;
}

.top:hover {
    background-color: #fff;
    color: #323232;
    outline: 1px red solid;
    box-shadow: #a9a8a8 3px 2px inset;
}

@media (max-width: 400px) {
    h1 {
        font-size: 35px;
    }

    .next,
    .prev {
        font-size: smaller;
        width: 74px;
    }
}